@media screen and (max-width: 1620px) {
  .nav {
    justify-content: space-around;
  }
  .footer {
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {

  /*index*/

  .grid {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    text-align: center;
  }
  .nav{
    flex-direction: column;
    padding-bottom: 20px;
  }
  .nav img {
    max-width: 200px;
    height: auto;
  }
  .nav ul li a {
    font-size: 20px;
  }
  .footer{
    padding: 20px 0px;
  }
  .footer img{
    display: none;
  }
  .footer li{
    padding: 10px 0px;
  }
  .button-footer .prof {
    font-weight: 300;
    font-size: 18px;
    padding: 8px 8px;
    width: 200px;
    align-self: center;
  }
  .button-footer .outro {
    font-weight: 300;
    font-size: 18px;
    padding: 8px 8px;
    width: 200px;
    align-self: center;
  }
  .section-1{
    flex-direction: column;
    
  }
  .section-1 h1{
    padding-top: 30px;
    font-size: 40px;
    max-width: 350px;
    line-height: 50px;
    
  }
  .section-1 img {
    flex-direction: column;
    max-width: 250px;
    height: auto;
    padding: 55px 0px;
  }
  .section-1 button {
    font-size: 20px;
    padding: 10px 12px;
  }

  .section-2{
    flex-direction: column;
    padding-bottom: 55px;
  }
  .section-2 img{
    padding: 55px 0px;
    max-width: 200px;
    height: auto;
  }
  .section-3{
    flex-direction: column;
  }
  .section-3 h1{
    font-size: 30px;
    max-width: 250px;
    align-self: center;
  }
  .section-3-row{
    flex-direction: column;
  }
  .item-section-3 {
    margin: 0px 10px;
  }
  .brief-section-3 {
    padding: 40px 0px;
  }
  .wrapper-4{
    flex-direction: column;
  }
  .wrapper-4 >.wrapper-4-h1{
    font-size: 25px;
    padding-bottom: 30px;
  }
  .section-4{
    flex-direction: column;
  }
  .wrapper4 .section-item-4 h1{
    font-size: 20px;
  }
  .section-row-4{
    flex-direction: column;
    padding-bottom: 25px;
  }
  .section-row-4 p {
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  .section-container-4 {
  padding: 40px 0px;
  }

  /*blog*/

  .section-blog-1{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-blog-1 h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .section-blog-1 p{
    max-width: 370px;
    padding-bottom: 35px;
    padding: 0px 20px;
  }
  .section-blog-2 {
    flex-direction: column;
    align-content: center;
    padding: 0px 20px;
    padding-bottom: 50px;
  }
  .section-blog-2 img {
    max-width: 350px;
    max-height: auto;
  }
  .section-blog-2 h1{
    font-size: 23px;
    max-width: 350px;
  }
  .section-blog-2 p{
    font-size: 16px;
    max-width: 350px;
  }

  /*cursos*/

 .cursos{
    flex-direction: column;
    padding: 0px 10px;
  }
  .container-cursos-1 .cursos img{
    max-width: 250px;
    height: auto;
    padding-bottom: 50px;
  }
  .cursos-h1 h1{
    padding-left: 15px;
    font-size: 40px;
  }
  .cursos-h1 p {
    padding-left: 15px;
    font-size: 18px;
  }
  .cursos .cursos-texto h2{
    font-size: 25px;
  }
  .cursos .cursos-texto p{
    font-size: 16px;
  }
  .cursos button {
    font-size: 16px;
    padding: 8px 8px;
  }
  .cursos img {
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  /* CONTATO */

  .section-contact {
    flex-direction: column;
  }
  .form-contact{
    align-items: center;
  }
  .form-contact h1{
    font-size: 30px;
  }
  .txt{
    margin: 10px 0px;
  }
  .form-contact input{
    max-width: 300px;
  }
  .img-contact img{
    display: none;
    /*max-width: 300px;
    height: auto;
    margin-top: 60px;*/
  }

  /*BLOG*/

  .section-investimento-1 {
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
    padding-top: 50px;

  }
  .section-investimento-1 h1{
    font-size: 40px;
    max-width: 300px;
  }
  .section-investimento-1 p{
    font-size: 18px;
    max-width: 300px;
    padding-bottom: 50px;
  }
  .section-investimento-1 img{
    max-width: 270px;
    height: auto;
  }
  .section-investimento-2 {
    flex-direction: column;
    align-items: center;
  }
  .section-investimento-2 div.aula{
    flex-direction: column;
  }
  .section-investimento-2 iframe{
    max-width: 370px;
    max-height: 220px;
  }
  .section-investimento-2 .aula h1{
    padding-top: 30px;
    margin-left: 0px;
    font-size: 30px;
  }
  .section-investimento-2 .aula p{
    max-width: 350px;
    font-size: 18px;
    margin-left: 0px;
  }
  .section-investimento-2 hr {
    max-width: 350px;
  }

  /*POST*/

  .section-post-1 h1{
    max-width: 350px;
    text-align: center;
    padding-top: 60px;
    font-size: 38px;
  }
  .section-post-1 img {
    max-width: 350px;
    height: auto;
  }
  .section-post-1 span {
    font-size: 15px;
  }
  .section-post-2 {
    flex-direction: column;
    padding-top: 0px;
  }
  .section-post-2 p {
    max-width: 350px;
    font-size: 16px;

  }
  .section-post-2 h2 {
    max-width: 350px;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .flex-post .section-2{
    flex-direction: column;
  }
  h1#title {
    font-size: 35px;
    padding-bottom: 30px;
  }
  .section-post-3 {
    flex-direction: column;
  }
  .section-post-3 img{
    max-width: 270px;
    max-height: 200px;
    padding-top: 40px;

  }
  .section-post-3 p{
    margin-right: 0px;

  }
  .container-bg-section-2 {
    padding: 50px;
  }
}
@media screen and (max-width: 320px) {
  
  .grid {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    text-align: center;
  }
  .nav{
    flex-direction: column;
    padding-bottom: 20px;
  }
  .nav img {
    max-width: 200px;
    height: auto;
  }
  .nav ul li a {
    font-size: 18px;
  }
  .footer{
    flex-direction: row;
    padding: 20px 0px;
  }
  .footer img{
    display: none;
  }
  .footer li{
    padding: 10px 0px;
  }
  .button-footer .prof {
    font-weight: 300;
    font-size: 18px;
    padding: 8px 8px;
    width: 200px;
    align-self: center;
  }
  .button-footer .outro {
    font-weight: 300;
    font-size: 18px;
    padding: 8px 8px;
    width: 200px;
    align-self: center;
  }

  /*INDEX*/

  .section-1{
    flex-direction: column;
    
  }
  .section-1 h1{
    padding-top: 30px;
    font-size: 38px;
    max-width: 300px;
    line-height: 40px;
    
  }
  .section-1 img {
    flex-direction: column;
    max-width: 250px;
    height: auto;
    padding: 55px 0px;
  }
  .section-1 button {
    font-size: 20px;
    padding: 10px 12px;
  }
  .section-1 p {
    font-size: 20px;
  }

  .section-2{
    flex-direction: column;
    padding-bottom: 55px;
  }
  .section-2 img{
    padding: 55px 0px;
    max-width: 200px;
    height: auto;
  }
  .section-3{
    flex-direction: column;
    
  }
  .section-3-row{
    flex-direction: column;
  }
  .item-section-3 {
    margin: 0px 10px;
  }
  .brief-section-3 {
    padding: 40px 0px;
  }
  .wrapper-4{
    flex-direction: column;
  }
  .wrapper-4 >.wrapper-4-h1{
    font-size: 25px;
    padding-bottom: 30px;
  }
  .section-4{
    flex-direction: column;
  }
  .section-4 button {
    font-size: 20px;
    padding: 10px 12px;
  }
  .wrapper4 .section-item-4 h1{
    font-size: 20px;
  }
  .section-row-4{
    flex-direction: column;
    padding-bottom: 25px;
  }
  .section-row-4 p {
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  .section-container-4 {
  padding: 40px 0px;
  }

  /*BLOG*/

  .section-blog-1{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-blog-1 h1 {
    font-size: 28px;
    line-height: 30px;
    padding: 0px 20px;
  }
  .section-blog-1 p{
    max-width: 370px;
    padding-bottom: 35px;
    padding: 0px 20px;
  }
  .section-blog-2 {
    flex-direction: column;
    align-content: center;
    padding: 0px 10px;
    padding-bottom: 40px;
  }
  .section-blog-2 img {
    max-width: 300px;
    max-height: auto;
  }
  .section-blog-2 h1{
    font-size: 23px;
    max-width: 350px;
  }
  .section-blog-2 p{
    font-size: 16px;
    max-width: 300px;
  }

  /* CURSOS */

  .cursos{
    flex-direction: column;
    padding: 0px 10px;
  }
  .container-cursos-1 .cursos img{
    max-width: 230px;
    height: auto;
    padding-bottom: 40px;
  }
  .cursos-h1 h1{
    padding-left: 10px;
    font-size: 35px;
  }
  .cursos-h1 p {
    padding-left: 10px;
    font-size: 16px;
  }
  .cursos .cursos-texto h2{
    font-size: 23px;
  }
  .cursos .cursos-texto p{
    font-size: 15px;
  }
  .cursos button {
    font-size: 15px;
    padding: 6px 6px;
  }
  .cursos img {
    max-width: 280px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px;
  }
   /*INVESTIMENTO*/

  .section-investimento-1{
    padding-top: 30px;
   }
  .section-investimento-1 h1{
    font-size: 35px;
    max-width: 300px;
  }
  .section-investimento-1 p{
    font-size: 16px;
    max-width: 300px;
    padding-bottom: 50px;
  }
  .section-investimento-1 img{
    max-width: 250px;
    height: auto;
  }
 
  .section-investimento-2 iframe{
    max-width: 300px;
    max-height: 180px;
  }
  .section-investimento-2 .aula h1{
    padding-top: 30px;
    margin-left: 0px;
    font-size: 30px;
  }
  .section-investimento-2 .aula p{
    max-width: 300px;
    font-size: 18px;
    margin-left: 0px;
  }
  .section-investimento-2 hr {
    max-width: 300px;
  }
}